body,
html {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

/*
progress bar loader adapted from:
https://blog.hubspot.com/website/css-loading-animation
*/

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.progress-bar {
    width: 80%;
    max-width: 400px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #ff5700;
    animation: fill 30s infinite;
}

@keyframes fill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* alternatively, use a spinning donut animation */

.spinner {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ff5700;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
