body {
    background: rgb(20, 20, 20);
	color: #0e3481;
	min-height: 100vh;
    font-family: "Dosis", sans-serif;
    word-spacing: 2px;
    line-height: 130%;
    color: #9effec;
	overflow: hidden;
}

.header .lead {
	max-width: 620px;
}

.header h1 {
	padding: 50px 0;
}

.main-container {
	position: relative;
	height: 100vh;
}

.bg-svg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0.9;
}