* {
  box-sizing: border-box;
}

html {
  background: white;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, white, white, #f0f0f0, #c4c4c4, #a2baa6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, white, white, #f0f0f0, #c4c4c4, #a2baa6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: Helvetica, 'Century Gothic', Arial, sans-serif;
  font-weight: 300;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.333%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 0 5px #ccc;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

img {
  object-fit: cover;
  object-position: center center;
  border: 1px solid #bababa;
  height: 200px;
  width: 100%;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: 500;
}

#more1 {
  display: none;
}

#more2 {
  display: none;
}

.button {
  border: none;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  padding: 0px;
  font-family: Helvetica, 'Century Gothic', Arial, sans-serif;
  font-weight: 300;
}

a.dark:link, a.dark:visited {
  text-decoration: none;
  color: black;
}

a.dark:hover, a.dark:active {
  text-decoration: none;
  color: #6f8573;
}

a.green:link, a.green:visited {
  text-decoration: none;
  color: #6f8573;
}

a.green:hover, a.green:active {
  text-decoration: none;
  color: #424242;
}

a.img {
  color: black;
}

img {
  opacity: 0.8;
}

img:hover {
  opacity: 1;
  border: 1px solid #2e2e2e;
}

i.citation {
  font-size: x-small;
  line-height: 120%;
}

