html {
	scroll-behavior: smooth;
	background: white;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, white, white, #f0f0f0, #c4c4c4, #a2baa6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, white, white, #f0f0f0, #c4c4c4, #a2baa6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}

body { 
	height: 100%; 
	margin: 0px;
	font-family: Helvetica, 'Century Gothic', Arial, sans-serif;
	font-weight: 300;
	word-spacing: 2px;
	line-height: 150%;
}

.container { 
	height: 100%;
	position: relative;
	text-align: center;
}

/* adds fading effect at top and bottom of container when scrolling up and down */
.container:after {
	content: '';
	height: 20%;
	top: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 0) 100%);
	position: fixed;
}

.center {
	margin: 0;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
}

.bottom-center {
	margin: 0;
	position: absolute;
	top: 90%;
	left: 0;
	right: 0;
}

.group1 {
	display: inline-block;
	padding: 0px 20px 10px 0px;
}

.group2 {
	display: inline-block;
	padding: 0px 0px 10px 0px;
}

h1 {
	font-weight: 300;
	font-size: 2.5em;
}

h2 {
	font-weight: 300;
	font-size: 2em;
}

a.dark:link, a.dark:visited {
	text-decoration: none;
	color: black;
}

a.dark:hover, a.dark:active {
	text-decoration: none;
	color: #6f8573;
}

a.green:link, a.green:visited {
	text-decoration: none;
	color: #6f8573;
}

a.green:hover, a.green:active {
	text-decoration: none;
	color: #424242;
}

.waving {
	position: relative;
	animation-name: pulse;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	0%   {top: 90%;}
	100% {top: 92%;}
}

.fadeIn {
	animation: fadeIn ease 2s;
	animation-iteration-count: 1;
}

@keyframes fadeIn {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}