html, body {
    background: rgb(20, 20, 20);
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;

    /* text styles */
    font-family: "Dosis", sans-serif;
    word-spacing: 2px;
    line-height: 130%;
}

.bg-svg {
    position: absolute;
    z-index: 0;
}

svg {
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

defs path {
    stroke: white;
    stroke-width: 2px;
}

.container {
    position: relative;
    min-height: 100vh;

    /* flexbox centering */
    display: flex;
    justify-content: center;
    align-items: center;

    /* keeps animated svg inside */
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    border-radius: 100%;
    background: radial-gradient( 
        closest-side,
        rgba(20, 20, 20, 1) 50%,
        rgba(20, 20, 20, 0) 95%
    );
    padding: 15px 30px;
}

.group1 {
    display: inline-block;
    padding: 0px 20px 10px 0px;
}

.group2 {
    display: inline-block;
    padding: 0px 0px 10px 0px;
}

h1 {
    font-weight: 300;
    font-size: 3em;
    color: #9effec;
}

a.icon:link,
a.icon:visited {
    text-decoration: none;
    color: #9effec
}

a.icon:hover,
a.icon:active {
    text-decoration: none;
    color: #4f8076;
}

.fadeIn {
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}