/*
background color gradient animation adapted from code by Manuel Pinto:
https://codepen.io/P1N2O/pen/pyBNzX

with rotation animation adapted from code by Prince:
https://stackoverflow.com/a/75648103
*/
@property --angle1 {
    syntax: "<angle>";
    initial-value: 0deg;
}

@property --angle2 {
    syntax: "<angle>";
    initial-value: 90deg;
}

body {
    background: linear-gradient(
        var(--angle1),
        #ffa369 10%,
        #c4c4c4 40%,
        #c4c4c4 60%,
        #6ed9c2 90%
    );
    background-size: 300%;
    animation: gradientRotateSlide 25s ease infinite;
    animation-direction: normal;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    z-index: 100;

    /* text styles */
    font-family: Helvetica, "Century Gothic", Arial, sans-serif;
    word-spacing: 2px;
    line-height: 150%;
}

/* overlay another color gradient going the opposite direction */
#body2 {
    background: linear-gradient(
        var(--angle2),
        #fff94c50 10%,
        #c4c4c450 40%,
        #c4c4c450 60%,
        #004ff950 90%
    );
    background-size: 400%;
    animation: gradientRotateSlide 40s ease infinite;
    animation-direction: reverse;
    height: 100vh;
    z-index: 100;
}

@keyframes gradientRotateSlide {
    0% {
        background-position: left 0% top 50%;
    }
    50% {
        background-position: left 100% top 50%;
    }
    100% {
        background-position: left 0% top 50%;
    }
}

/* background overlay fade-in */
#bg-fade {
    position: fixed;
    inset: 0;
    background: #c4c4c4;
    animation: fadeOutBg 6s ease forwards;
    z-index: 200;
}

@keyframes fadeOutBg {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.container {
    height: 100%;
    position: relative;
    text-align: center;
    z-index: 300;
}

.center {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.group1 {
    display: inline-block;
    padding: 0px 20px 10px 0px;
}

.group2 {
    display: inline-block;
    padding: 0px 0px 10px 0px;
}

h1 {
    font-weight: 300;
    font-size: 2.5em;
    color: #212121;
    text-shadow: 0 0 20px #c4c4c4;
}

a.icon:link,
a.icon:visited {
    text-decoration: none;
    color: #212121;
    text-shadow: 0 0 10px #c4c4c4;
}

a.icon:hover,
a.icon:active {
    text-decoration: none;
    color: black;
}

.fadeIn {
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
